################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.env
sample_images/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/backend/uploads/
uploads/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/data
/configs
/images